.section {
    min-width: 25rem;
}

.header {
    display: block;
}

.header h1 {
    align-self: flex-start;
    text-align: left;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    padding: 2rem 0;
}

.form input {
    width: 100%;
    max-width: 14rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.button {
    display: block;
    font-weight: 600;
    padding: 0.6rem;
    cursor: pointer;
    background-color: #000;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    color: #fff;
    font-size: 0.85rem;
}
