main {
    position: relative;
}

.section {
    min-width: 25rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 2rem;
}
