.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem 0;
}

.form input {
    width: 100%;
    max-width: 16rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.button {
    display: block;
    padding: 0.5rem;
}
